{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/_alerts.html' %}
    <div class="card" style="margin-bottom: 20px;
  background-color: #fff; border: 1px solid #337AB7; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); box-shadow: 0 1px 1px rgba(0, 0, 0, .05);">
        <div class="card-header"  style="background-color: #337AB7;">
            <h3 style="margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #fff;">OTHER CONCERNS</h3>
                </div>
        <div class="card-body">
        <form method="POST">
            {% csrf_token %}
                {{ form|crispy }}
                <hr style="height:2px;background:black;" >
            <div class="dropdown-divider"></div>
            <div class="form-group">
                <a class="btn btn-secondary" href="{% url 'update-suggestion' user.id %}"><< Previous </a>
                <button class="btn btn-primary" type="submit"> Next >></button>
            </div>
        </form>
        </div>
    </div>

{% endblock content %}